:root {
    --kg-primary: #CC0033;
    --kg-accent: #FF0040;
    --kg-success: #69B21A;
    --kg-info: #0082B2;
    --kg-warning: #E8B602;
    --kg-danger: #D62F26;
}

.custom-primary {
    --kg-primary: #6A05DD;
}
