:host {
  line-height: 40px;
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  div {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0;
    text-align: center;
    order:1;
    color: rgba(0,0,0,.54);
    outline: none;
    span {
      position: absolute;
      left: 0;
      top: 1px;
      bottom: 0;
      right: 0;
      font-size: 14px;
      color: white;
      transition: opacity 90ms linear;
      opacity: 0;
      &#indeterminate {
        transform: rotate(90deg);
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: currentColor;
    transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1), background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
  }
  input {
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;

    border: 2px solid rgba(0,0,0,.54);
    transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1),
      background-color 90ms cubic-bezier(0, 0, 0.2, 0.1),
      opacity 90ms cubic-bezier(0, 0, 0.2, 0.1);

    border-radius: 2px;
    outline: none;
    background-color: transparent;

    vertical-align: middle;
    margin: 0 0 2px 0;
    cursor: inherit;
    height: 16px;
    width: 16px;
  }
  label {
    vertical-align: middle;
    cursor: inherit;
    order:2;
    font-family: Roboto,Helvetica Neue,sans-serif;
    padding: 0 10px 0 0;
  }
}
:host([disabled]) {
  cursor: default;
  input {
    border-color: #b0b0b0;
    &:checked {
      background-color: #b0b0b0;
    }
  }
}
:host([align=left]) {
  div {
    order: 2;
  }
  label{
    order: 1;
    padding: 0 0 0 10px;
  }
}
:host(:not([disabled])) {
  div {
    &:hover, &:focus {
      .overlay {
        opacity: .04;
      }
    }
  }
}
:host([checked=true]) {
  div {
    color: var(--kg-info);
    span#checked {
      opacity: 1;
    }
    input {
      border-color: currentColor;
      background-color: currentColor;
    }
  }
}
:host([indeterminate=true]) {
  div {
    color: var(--kg-info);
    span#indeterminate {
      transform: rotate(90deg);
      opacity: 1;
    }
    input {
      border-color: currentColor;
      background-color: currentColor;
    }
  }
}
